
<h2> Get and post with json placeholder</h2> <br/>

<h4> Choose any of the following name to get their email id and usernames.</h4>

<h6> Clementina DuBuque,Glenna Reichert,Nicholas Runolfsdottir V,Kurtis Weissnat,Mrs. Dennis Schulist,Chelsey Dietrich</h6>
<br/> <br/>
<input  class="form-control" type="text" (keyup)="onNameKeyUp($event)"> <br/>
<button class="btn btn-outline-success" (click)="getProfile()"> Get Profile</button>
<br/>
<br/>
<div *ngIf="found">

  <span> {{name}}'s email is {{email}} and username is {{username}} .</span>
</div> <br/>
<hr/>

<br/>

<button class="btn btn-outline-success" (click)="postProfile()"> Post Profile</button> 